*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}

body {
  background-color: black;
  
}
.header {
  position: fixed;
  width: 100vw;
  display:flex;
  background-color: black;
  padding: 1vw;
  border-style: solid;
  border-color: white;
  justify-content: space-between; 
}

.logo{
  color: white;
  font-family: 'Courier New', monospace;
  font-weight: 400;
  font-size: .9vw;
  border-bottom: solid;
  border-color: white;
  border-width: .1vw;

}
.navbar li a{
  font-family: 'Courier New', monospace;
  font-size: 1vw;
  list-style-type: none;
  color:white;
  text-decoration: none;
  margin-left: 2vw;
}

.HomeContent{
  justify-content: center;
  align-content: center;
  width: 100%;
  min-height: 100vh;
  
}
.HomeContent .HomeName{
  position: relative;
  display: flex;
  color: white;
  font-family: 'Courier New', monospace;
  font-size: 12vw;
  justify-content: center;
  animation: glitch 5s infinite;
}
.HomeName::before, .HomeName::after{
  content: attr(data-text);
  position: absolute;
  left: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: glitch 5.5s infinite;
}
.HomeName::before{
  left: 17.5vw;
  text-shadow: -2px 0 red;
  animation-duration: 5s; 
}
.HomeName::after {
  left: 16vw;
  text-shadow: -2px 0 blue;
  animation-duration: 5.2s;
}
@keyframes glitch {
  0% {
    clip: rect(42px, 9999px, 44px, 0);
    transform: skew(0.4deg);
  }
  20%{
    clip: rect(15px, 9999px, 56px, 0);
    transform: skew(0.3deg);
  }
  40%{
    clip: rect(85px, 9999px, 140px, 0);
    transform: skew(0.5deg);
  }
  60%{
    clip: rect(35px, 9999px, 90px, 0);
    transform: skew(0.6deg);
  }
  80%{
    clip: rect(42px, 9999px, 44px, 0);
    transform: skew(0.4deg);
  }
  100%{
    clip: rect(15px, 9999px, 56px, 0);
    transform: skew(0.3deg);
  }
}

.HomeContent .HomeAbout {
  font-family: 'Courier New', monospace;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.1vw;
}
.AboutContent{
  width: 100%;
  min-height: 37vw;
  border-bottom: solid;
  border-color: white;
}

.AboutContent .AboutText {
  background: black;
  position: relative;
  min-height: 28.9vw;
  float: left;
  color: white;
  width: 50vw;
  margin-top: 1.5vw;
  margin-left:3vw;
}
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.AboutText::after, .AboutText::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), blue, purple, green, orange, yellow, pink, brown);
  top: 50%;
  left:50%;
  z-index:-1;
  translate: -50% -50%;
  padding: .15vw;
  border-radius: .5vw;
  animation: 3s spin linear infinite;
}
@keyframes spin {
  from{
    --angle: 0deg;
  }
  To{
    --angle: 360deg;
  }
}
.AboutText::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}
.AboutContent .AboutText .AboutTextHeader {
  margin-left: 2vw;
  margin-top: 2vw;
  color: white;
  font-size: 1.7vw;
  margin-right: 20vw;
  margin-bottom: 3vw;
  border-bottom: solid;
  border-color: white;
  width: 11.5vw;
}
.AboutContent .AboutText .AboutTextText {
  border-top: solid;
  border-bottom: solid;
  border-color: white;
  color: white;
  font-size: 1.3vw;
  padding-top: 3vw;
  min-height: 27vw;
}
.Education{
  margin-left: 55vw; 
  min-height: 40vw;
  width: 40%;
}
.Community{
  justify-self: center;
  border-bottom: solid;
  border-color: blue;
  color:white;
}
.GATECH{
  float: left;
  background-image: url('images.jpg');
  min-height: 11.5vw;
  width: 11.5vw;
  background-position: center;
  margin-top: 2vw;
  margin-left: 2vw;
  animation: bounce 2s infinite;
}
.FSC {
  float: right;
  background-image: url('FSCpng.png');
  background-position: center;
  background-size: 100% 100%;
  min-height: 11.5vw;
  width: 11.5vw;
  background-position: center;
  margin-top: 2vw;
  margin-right: 5vw;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%{
    transform: translateY(0);
  }
  40%{
    transform:translateY(-30px);
  }
  60%{
    transform:translateY(0);
  }
  80%{
    transform:translateY(-15px);
  }
  100%{
    transform: translateY(0);
  }
}
.GeorgiaTechInfo{
  float: left;
  color: white;
  width: 50%;
  margin-top: 1vw;
  border-right: solid;
  border-color: blue;
}
.GeorgiaTechInfo .GeorgiaClasses{
  font-size: 0.9vw;
  list-style-type: none;
}
.FarmingdaleInfo .FSCClasses{
  font-size: 0.9vw;
  list-style-type: none;
}
.FarmingdaleInfo{
  margin-left: .3vw;
  width: 19vw;
  margin-top: 1vw;
  float: right;
  color: white;
}
.ProjectsContent{
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: -1;
}
.ProjectContainer{
  position: relative;
  height: 85vh;
  width: auto;
  margin: 15vh;
  top: 0;

}
.ProjectsLight{
  text-shadow: 0 0 10px #03bcf4;
  position: absolute;
  margin-left: 5vh;
  width: 50vh;
  font-size: 10vh;
  rotate: -30deg;
  color:white;
  font-family: 'Style Script';
  z-index: 1;
  animation: flicker 5s linear infinite;
}

.ContactContent{
  border-top: solid;
  border-color: white;
  display: flex;
  background-color: black;
  height: 25vw;
  width: 100%;
}
.AroundContactText{
  height:25vw;
  width: 39vw;
  border-right:solid;
  border-color: white;
}
.Text1{
  font-family: 'Trebuchet MS', sans-serif;
  min-height: 5vw;  
  font-size: 5vw;
  margin-left: 4vw;
  -webkit-text-stroke: 3px white;
}
.Text2{
  font-family: 'Trebuchet MS', sans-serif;
  min-height: 5vw;  
  font-size: 5vw;
  color: white;
  margin-left: 8vw;
  
}
.Text3{
  font-family: 'Trebuchet MS', sans-serif;
  min-height: 5vw;  
  font-size: 5vw;
  margin-left: 14vw;
  -webkit-text-stroke: 3px white;
}
.ContactLinks {
  width: 25vw;
  float: right;
  border-right: solid;
  border-color: white;
  font-size: 1vw;
}
.ContactLinks p{
  margin-top: 1.5vw;
  margin-left: 1vw;
  color:white;
}
.ContactLinks a{
  display:block;
  width: 50vw;
  margin-top: 2.5vw;
  margin-left: 1vw;
  list-style-type: none;
  color: white;
  text-decoration: none;

}
.Archie p{
  margin-top:1.5vw;
  margin-left:1vw;
  color: white;  
}
.ArchiePhoto{
  background-image: url('IMG_0123.JPG');
  background-position: center;
  background-size: 100% 100%;
  height: 20vw;
  width: 15vw;
  justify-self: center;
  margin-left: 5vw;
  margin-top: 1vw;
}