html {
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}

body {
  background-color: transparent;
}

.UnderHomeContent {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 20vw;
  height: 70vh;
  background-image: url('coder.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  z-index: -1;
  border-radius: 10vw;
}

.HomeBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, white, #567CFF, #8EA8FF, #7AF8FF, #D875FF, #8D4BE0, white, #567CFF);
  z-index: -2;
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}
@keyframes color{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.header {
  list-style: none;
  position: fixed;
  width: 100vw;
  display: flex;
  background: transparent;
  backdrop-filter: blur(10px);
  padding: 12px;
  border-bottom: solid;
  border-color: #7AF8FF;
  border-width: 1px;
  justify-content: space-between; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.logo {
  color: black;
  font-family: 'Courier New', monospace;
  font-weight: 400;
  font-size: .9vw;
  border-bottom: solid;
  border-color: black;
  border-width: .1vw;
}

.navbar li a {
  font-family: 'Courier New', monospace;
  font-size: 1vw;
  list-style-type: none;
  text-decoration: none;
  margin-right: 2vw;
  color: black;
  font-weight: bold;
}

.HomeContent {
  position: relative;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.HomeContent .HomeName {
  position: relative;
  color: white;
  display: flex;
  font-family: 'Courier New', monospace;
  font-size: 12vw;
  justify-content: center;
  
}
.beginningname{
  text-shadow: 
    1px 1px 0px #567CFF, 
    -1px -1px 0px #8EA8FF,
    1px -1px 0px #7AF8FF,
    -1px 1px 0px #D875FF,
    2px 2px 0px #8D4BE0, 
    -2px -2px 0px #567CFF, 
    2px -2px 0px #8EA8FF, 
    -2px 2px 0px #7AF8FF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.lastname{
  text-shadow: 
    1px 1px 0px #567CFF, 
    -1px -1px 0px #8EA8FF,
    1px -1px 0px #7AF8FF,
    -1px 1px 0px #D875FF,
    2px 2px 0px #8D4BE0, 
    -2px -2px 0px #567CFF, 
    2px -2px 0px #8EA8FF, 
    -2px 2px 0px #7AF8FF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.middlename {
  display: inline-block;
  color: transparent;
  background: transparent; 
  -webkit-background-clip: text;
  background-clip: text; 
  -webkit-text-stroke: .2vw white;
  margin-right: 1vw;
}

.HomeContent .HomeAbout {
  font-family: 'Courier New', monospace;
  display: inline-block;
  font-weight: bold;
  font-size: 1vw;
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  border-right: 3px solid black;
  white-space: nowrap;
  overflow: hidden;
  width: 0; 
  animation: typing 4s steps(30, end) forwards, blink 0.7s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 30%; 
  }
}

@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.blur {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 5vh;
  width: 100vw;
  border-top: solid;
  border-bottom: solid;
  border-color: #7AF8FF;
  background-color: lightgray;
}
.scroll{
  white-space: nowrap;
  margin: 0 2em;
}
.scroll div{
  display: flex;
  gap: 2em;
}
.scroll p {
  font-size: 2em;
  color: white;
  font-weight: bold;
  text-shadow: 
    1px 1px 0px #567CFF, 
    -1px -1px 0px #8EA8FF,
    1px -1px 0px #7AF8FF,
    -1px 1px 0px #D875FF,
    2px 2px 0px #8D4BE0, 
    -2px -2px 0px #567CFF, 
    2px -2px 0px #8EA8FF, 
    -2px 2px 0px #7AF8FF;
  line-height: 10px;
}
.RightToLeft{
  animation: RightToLeft 35s infinite linear
}
@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-65%);
  }
}

.About {
  position: relative;
  width: 100vw;
  height: 75vh;
  background-color: white;
}
.headshot {
  background-image: url('IMG_1626 (1).jpeg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  border-radius: 2em;
  position: absolute;
  top: 17%; 
  left: 5%; 
  width: 20vw;
  height: 50vh;
  z-index: 1;
}
.Archie {
  background-image: url('IMG_0123.JPG');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  border-radius: 2em;
  position: absolute;
  top: 50%; 
  left: 26%; 
  width: 10vw;
  height: 25vh;
  z-index: 1;
}
.AboutMe{
  position: absolute;
  top: 8%;
  left: 45%;
  width: 50vw;
  height: 20vh;
  background-color: white;;
}
.AboutMe h1 {
  color: black;
  width: 30%;
  font-weight: bold;
  font-size: 3vw;
  margin-bottom: 2vh;
  animation: AboutMeMover 10s infinite linear
}
@keyframes AboutMeMover {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(220%);
  }
  100%{
    transform: translateX(0%);
  }
}
.AboutMe p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1vw;
}

.WorkExperience {
  position: absolute;
  top: 35%;
  left: 50%;
  padding: 10px 20px;
  border-bottom: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #8D4BE0;
  background: white;
  font-size: 1.5em;
  color: #567CFF;
  position: relative;
  font-weight: bold;
  
}



.School {
  position: absolute;
  top: 35%;
  left: 63.5%;
  padding: 10px 20px;
  border-bottom: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #8D4BE0;
  background: white;
  font-size: 1.5em;
  color: #567CFF;
  position: relative;
  font-weight: bold;
  
}
.WorkContent{
  position: absolute;
  width: 25%;
  height: 43%;
  background-color: white;;
  top: 45%;
  left: 45%;
  border-right: solid;
}
.sb{
  font-size: 1.5vw;
  margin-top: 2.5%;  
  color: #8EA8FF;
}
.wal{
  font-size: 1.5vw;
  margin-top: 2.5%;
  color: #8EA8FF;
}
.WorkContent p{
  font-weight: bold;
  margin-top: 1%;
  margin-left: 2%;
}
.SchoolContent{
  padding-left: 2%;
  position: absolute;
  width: 25%;
  height: 43%;
  background-color: white;
  top: 45%;
  left: 70%;
}
.tech{
  font-size: 1.5vw;
  margin-top: 2.5%;  
  color: #8EA8FF;
}
.fsc{
  font-size: 1.5vw;
  margin-top: 2.5%;
  color: #8EA8FF;
}
.SchoolContent p{
  font-weight: bold;
  margin-top: 1%;
  margin-left: 2%;
}
.ProjectContent{
position: relative;
width: 100vw;
height: 60vh;  
}
.ProjectH{
  text-shadow: 
    1px 1px 0px #567CFF, 
    -1px -1px 0px #8EA8FF,
    1px -1px 0px #7AF8FF,
    -1px 1px 0px #D875FF,
    2px 2px 0px #8D4BE0, 
    -2px -2px 0px #567CFF, 
    2px -2px 0px #8EA8FF, 
    -2px 2px 0px #7AF8FF;
  width: 38vw;
  margin-left: 3%;
  font-weight: bold;
  font-size: 3vw;
  border-bottom: solid;
  border-width: 2%;
  animation: Underline 10s infinite linear
}
@keyframes Underline {
  0%{
    border-color: #567CFF;
  }
  20%{
    border-color: #8EA8FF;
  }
  40%{
    border-color: #7AF8FF;
  }
  60%{
    border-color: #D875FF;
  }
  80%{
    border-color: #8EA8FF;
  }
  100%{
    border-color: #567CFF;
  }
}

.ProjectsSection{
  position: absolute;
  top: 8vh;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProjectNames{
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5vh;
  font-weight: bold;
  font-size: 1vw;
}
.g{
  margin-left: 11vw;
  margin-right: 11vw;
}
.Project1 {
  position: relative;
  cursor: pointer;
  width: 20vw;
  height: 40vh;
  border-radius: 2vw;
  margin-right: 2vw;
  background-image: url("project1.avif");
  background-size: cover;
  background-position: center;
}

.Project1::before {
  content: "Developed an Android application using Android Studio that allows students to manage their assignments efficiently. Features include adding and removing tasks and organizing them based on predefined preferences for streamlined workflow."; 
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white; 
  display: flex; 
  align-items: flex-start; 
  justify-content: center; 
  padding-top: 20%; 
  text-align: center;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  border-radius: inherit;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  font-family: sans-serif;
  font-size: 1vw;
}

.Project1:hover::before {
  opacity: 1;
  visibility: visible;
}

.Project2 {
  position: relative;
  cursor: pointer;
  width: 20vw;
  height: 40vh;
  border-radius: 2vw;
  margin-right: 2vw;
  background-image: url("project2.jpeg");
  background-size: cover;
  background-position: center;
}

.Project2::before {
  content: "Developed an Android application using Android Studio that enables users to access their personalized Spotify Wrapped from predefined timeframes, such as one week, one month, or one year ago.";
  top: 0; 
  left: 0;
  width: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white; 
  display: flex; 
  align-items: flex-start; 
  justify-content: center; 
  padding-top: 20%; 
  text-align: center;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  border-radius: inherit;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  font-family: sans-serif;
  font-size: 1vw;
}

.Project2:hover::before {
  opacity: 1;
  visibility: visible;
}
.Project3 {
  position: relative;
  cursor: pointer;
  width: 20vw;
  height: 40vh;
  border-radius: 2vw;
  margin-right: 2vw;
  background-image: url("project3.jpg");
  background-size: cover;
  background-position: center;
}

.Project3::before {
  content: "Developed a basic console-based application using Java in IntelliJ IDEA that enables users to manage grocery lists. The application incorporates a SQL database for data storage, allowing users to create, organize, add to, and remove items from grocery lists based on predefined preferences.";
  top: 0; 
  left: 0;
  width: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white; 
  display: flex; 
  align-items: flex-start; 
  justify-content: center; 
  padding-top: 20%; 
  text-align: center;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  border-radius: inherit;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  font-family: sans-serif;
  font-size: 1vw;
}
.Project3:hover::before {
  opacity: 1;
  visibility: visible;
}


.ContactContent{
  position: relative;
  width: 100vw;
  height: 10vh;
}
.ContactInfo{
  position:absolute;
  width: 50vw;
  height: 10vh;
  
}
.ContactContent h1{
  
  font-weight: bold;
  font-size: 3vw;
  padding-left: 1%;
  margin-bottom: 2vh;
}
.ContactContent p{
  
  padding-left: 1%;
  font-weight: bold;
}
.h{
  margin-bottom: 2vh;
}
.linkedIn{
  top: 2vh;
  left: 90%;
  position: absolute;
  width: 5vw;
  height: 10vh;
  background-image: url("linkedin.jpg");
  background-position: center;
  background-size: 100% 100%;
  border-radius: 1vw;
  cursor: pointer;

}

